
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
/*primary color: light mode*/
--bg-color:#12171a;
--main-color:#a55265;
--accent-color-rgb:51, 84, 73;
--accent-color:#335449;
--accent-color2: #c1a7b3;
--text-color: #ecdce9;
--dark-comp-gradient: #6f3a3f;

}
/*secondary color: dark mode*/
 .dark-theme{
    --bg-color: #E8D7D0;
    --main-color: #DA959F;
    --accent-color: #D25B76;
    --accent-color2: ;
    --text-color: #5C0105;
 
    }
    
    /*
    MAIN RED 
    --bg-color:#080808;
    --second-color: #450205;
    --text-color:#f6cfb2;
    --main-color:#65080c;  

    BLUE
    --bg-color:#0B1637;
    --second-color:#248BE7;
    --text-color:#36ACEF;
    --main-color:#0D219A ; 
   
    ["","","",""]
    --bg-color:#CD7D84;
    --second-bg-color: #93D5DC;
    --text-color:F6EDEE;
    --main-color:#EDA7AC;
    */
body{
  background: var(--bg-color);
}
canvas {
  display: relate;
  vertical-align: bottom;
}
.about{
  background: radial-gradient(circle at top left, var(--bg-color) 50%, var(--main-color));
}
.hobby-container{
  display: grid;
  align-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  min-width: 90vh;
  background: linear-gradient(var(--bg-color 0.8));
}

.wrapper{
  max-width: 66rem; 
  width: 100%;
  position: relative;
}
.hobby-container h1 {
  font-size: 4.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    margin-top: 2.5rem;
}
.wrapper i{
  height: 4rem;
  width: 4rem;
  background: var(--bg-color);
  text-align: center;
  border-radius: 50%;
  font-size: 3.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -3rem;

}
.wrapper i:hover{
  transform: scale(1.3) translateY(-5px);
  transition: 1s;
}
.wrapper i:first-child{
  left: 0;
  
}
.wrapper i:last-child{
  right: 5rem;
  margin-right: -6rem;
  
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 2)) - 12px;
  gap: 2rem;
  overflow: hidden;
}
.wrapper:last-child{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}
.carousel :where(.card, .card-img){
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.carousel .card{
  list-style-type: none;
  background: var(--main-color);
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 2rem;
}
.card .card-img{
  
  border: 1rem solid var(--second-color);
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
}

.card .card-img img{
  width: 27rem;
  height: 36rem;
  object-fit: cover;
  border-radius: 1rem;
}
.card h2{
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
}
.carousel, 
.carousel * {
  user-select: none; /* Disable text selection */
  -webkit-user-drag: none; /* Disable image drag in WebKit browsers */
  -moz-user-select: none; /* Disable text selection in Firefox */
  -ms-user-select: none; /* Disable text selection in Internet Explorer */
  user-drag: none; /* Disable image dragging in modern browsers */
}

html{
    font-size: 60%;
    overflow-x: hidden;

}
body{
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

#icontoggle{
    width: 30px;
    cursor: pointer;
}
.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 2rem 0 2rem 0;
    background: rgba(var(--accent-color-rgb),0.4);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5; /*z index is for overlap of elements*/
 
}


.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 1000;
    cursor: pointer;
    transition: 0.3s ease;
    margin-left: 8rem;

}

.logo:hover{
    transform: scale(1.3);
    color: var(--accent-color2);

}
.logo span{
    text-shadow: 2rem 0 25px var(--main-color);
}
.logo a{
    color: var(--main-color);
}
  /*PARA SAN IMG DTO? HAHHA  
img{
    width: 400px;
    height: auto;
   
} */

 .hearticon{

   
    
    color: var(--second-color);
    margin-right: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    display: inline-flex;

 }
 .hearticon img{
    position:relative;
    width: 100rem;
    height: auto;
 }
 /* TODO: Still needs hover for heart icon*/
 .hearticon:hover{
    

 }


.navbar a{
    font-size: 2.8rem;
    color: var(--accent-color2);
    font-weight: 600;;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
   
}
.navbar a:hover,
.navbar a.active{
    color: var(--second-color);
    border-bottom: 3px solid var(--second-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 2rem 4% 2rem;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    background: linear-gradient(179deg, var(--bg-color) 60%, var(--dark-comp-gradient));
  
}
.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 3rem;
}
span{
    color: var(--main-color);

}
.logo span{
    color: var(--accent-color2);
}

.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 5.5rem;

}
.home-content h1{
    font-size: 15rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--second-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
box-shadow: 0 0 50px var(--second-color),
            0 0 100px var(--second-color);
}
.home-content p{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;

}
.social-icons a:hover{
    color: white;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--second-color);
    background-color: var(--second-color);


}


#btn-about{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    box-shadow: 0 0 25px var(--bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-left: 3rem;
}
#btn-about:hover{
    transform: scale(1.05);
    background-color: var(--second-color);
    color: var(white);

}


.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    background-color: var(--second-color);
    color: var(white);
    /*-- use for night theme -- 
    box-shadow: 0 0 25px var(--second-bg-color);
     */


}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: var(--bg-color);
   
}
.text-animation{
    font-size: 34px;
    font-weight: 600px;
    min-width: 280px;

}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: 'Web Developer';
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color) ;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: 'Student Leader';
    }
    21%,
    40%{
        content: "Pioneer";
    }
    41%,
    60%{
        content: "Graphics Designer";
    }
    61%,
    80%{
        content: "Digital Artist";
    }
    81%,
    100%{
        content: "Web Developer";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    } 
    5%,
    20%,
    25%, 
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}


.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(183deg, var(--dark-comp-gradient), var(--bg-color));
    color: var(--text-color);
    color: var(--text-color);
}
.about-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20rem;
}
.about-header{
  margin: 2rem;
  padding-top: 2rem;
  position: absolute;
  top: 100%;;
}
.about h2 span{
  color: var(--text-color);
  text-shadow: 0 0 50px var(--text-color);
          
}
.heading{
text-align: center;
font-size: 8rem;
}
.about-content h2{
text-align: center;
line-height: 1.5;
}
.about-content h3{
font-size: 2.6rem;
}
.about-content p{
font-size: 2.5rem;
margin:2rem 3rem 2rem 3rem;
}
.about-content .text-animation span::before{
content: 'Web Developer';
color: var(--text-color);
animation: words 20s infinite;
}
.about-content .text-animation span::after{
content: "";
background-color: var(--bg-color);
position: absolute;
width: calc(100% + 8px);
height: 100%;
border-left: 3px solid var(--bg-color) ;
right: -8px;
animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  text-align: center; /* Center text inside .about-content */
}

.about-img {
  display: flex;
  align-items: center; /* Center image vertically inside .about-img */
  justify-content: center; /* Center image horizontally inside .about-img */
  border-radius: 50%;
  margin-bottom: 5rem;
}

.about-img img {
  width: 20vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--second-color);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.about-img img:hover {
  box-shadow: 0 0 50px var(--second-color),
              0 0 100px var(--second-color);
}

.about-content p {
  text-align: center; /* Center text in the paragraph */
  max-width: 60%; /* Optional: restrict width for better readability */
  margin: 0 auto; /* Center the paragraph block */
}




  /*--------updated ABOUT ------/

  

/*------ SERVICES--------*/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}
.services{
    background-color: var(--main-color);
    color: var(--text-color);
}
.services h2{
    margin-bottom: 2rem;
    color: var(--text-color);
}
.service-container{
    display: grid;
    display: flex;
    flex-display: row;
    align-items: center;
    gap: 2.5rem;
    margin-top: 10vh;
    justify-content: space-between;
}
.service-box{
    margin:0;
    background-color: var(--main-color);
    color: var(--text-color);
    height: 198px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 38vh;
    display: inline-flex;
    margin-top: 5rem;
    
}
.service-box:hover{
    background: var(--second-color);
    color: var(--bg-color);
    transform: scale(1.03);
}
.service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
}
.service-info h4{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.service-info p{
    font-size: 1.6rem;
    font-weight: 400;
    max-height: 1000px;
    margin: auto;
}

/*------ Education----*/
.education{
    background:var(--bg-color)
}
.heading-education{
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}
.education{
    padding: 100px 15px;
    background: var(--bg-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;

}
.education h2{
    margin-bottom: 5rem;

}
.header-pv-v{
  font-size: 4.5rem;
  font-weight: 600;
  align-items: center;
  display: flex;
  justify-content: center;

}

    
/* General Styles for the Section */
.portfolio-item{
  display: none;
  display: inline-flex;
  
}
.portfolio-container{
  display: flex;
  justify-content: center;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters a {
  padding: 10px 20px;
  background: #ddd;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.filters a.active {
  background: #333;
  color: #fff;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


/* Education Timeline */
.timeline-items{
  max-width: 60vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50% - 1px);

}
.timeline-item{
  margin-bottom: 40px;
  width: 100%;
  position: relative;

}
.timeline-item:last-child{
  margin-bottom: 0;
}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);

}

.timeline-dot{
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date{
  font-size: 40px;
  font-weight: 800;
  color: var(--text-color);
  margin: 6px 0 15px;
}
.timeline-content{
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.timeline-contact:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);

}
.timeline-content h3{
  font-size: 3rem;
  color: var(--text-color);
  margin: 0 0 10px;
  font-weight: 50rem;

}
.timeline-content{
  color: var(--text-color);
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
}


/* Extracurriculars Gallery */
.extracurriculars-gallery {
  display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 25vh;
    justify-content: flex-start;
}

.image-container {
  position: relative;
  cursor: pointer;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.image-container:hover .overlay {
  opacity: 1;
}
/* Certifications */
.certifications-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.certification-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Skills */
.skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skill {
  position: relative;
}

.bar {
  width: 0;
  height: 20px;
  background: #4caf50;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.skill:hover .bar {
  width: var(--skill-percent);
}

/* Tools Used */
.tools {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tool {
  display: inline-block;
  padding: 5px 10px;
  background: #f0f0f0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}


::webkit-scrollbar{
    width: 15px;
}
::webkit-scrollbar-thumb{
    background-color: var(--main-color);
    

}
::webkit-scrollbar-track{
    background-color: var(--second-color);
    width: 50px;

}
.projects h2{
    margin-bottom: 5rem;
    color: var(--text-color);
}

.project-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}
.project-box:hover{
    background: rgba(255, 255, 255, 0.3);
    color: var(--main-color);
    transform: scale(1.03rem);
    border-radius: 20px;
    padding:1.05rem;
    margin:0 auto;
    

}
.project-box img{
    width: 100%;
    max-width: 350px;
    object-fit: cover;
    border-radius: 20px;
}
.project-info{
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 1.5rem;

}
.project-box::after{
    content: "";
    width: 350px;

}

.contact{
    background-color: var(--bg-color);
}
.contact h2{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease-in-out;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: black;
    border-radius: 0.8rem;
    border: 2x solid var(--main-color);
    margin: 1rem 0;
    resize: none;

}
.contact form .btn{
    margin-top: 2rem;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--main-color);
}
.footer .social{
    text-align: center;
    padding: 25px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    height: 42px;
    width: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10 px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 25px var(--main-color);

}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18x;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}
@media screen and (max-width: 1300px){
  .about-content{
    margin-left: 2rem;
    position: relative;
  }
  .hobby-container{
    min-width: 70vh;
  }
}

@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .services-containers{
        padding-bottom: 7rem;
        padding-top: 10rem;
        display: flex;
        flex-direction: row;
        margin: 0 5rem;

    }
  .about-container{
    flex-wrap: wrap;
  }
  .about-content{
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
}
@media screen and (max-width:980px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .services{
        padding-bottom: 7rem ;

    }
    .footer{
        padding:2rem 3% ;
    }
    .wrapper .carousel{
      grid-auto-columns: calc((100% / 2)- 9 px);
    }
    .about-container{
      flex-wrap: wrap;
    }
    .about-content{
      margin-left: 4rem;
      justify-content: center;
      align-items: center;
      display: inline-flex;
    }
}
@media(max-width:895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 50%;
        padding: 1rem 3%;
        background: rgba(var(--accent-color-rgb),0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
        flex-wrap: column;

    }
    .navbar.active{
        display: flex;
        flex-wrap: nowrap;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .home{
        flex-direction: column;
        margin-right: 5rem 4rem;
    }
    .home-content h3{
        font-size: 5.5rem;
    }
    .home-content h1{
        font-size: 15rem;
        margin-top: 3rem;
    }
    .home-content p{
         max-width: 600px;
         margin: 0 auto;
         font-size: 2.5rem;
    }
  
    .about{
        flex-direction: column-reverse;
    }
    .about-content{
       
        display: contents;

    }
    .about img{
        width: 52vw;
        margin-top: 1rem;
        margin-bottom: 3rem;

    }
     }
@media screen and (max-width:600px) {
  .wrapper .carousel{
    grid-auto-columns: 100%;
  }
  .about-content p{
    text-wrap: wrap;

  }
  .about-container{
    flex-wrap: wrap;
  }
  .about-content{
    margin-left: 4rem;
    justify-content: center;
    align-items: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-wrap: wrap;
  }
  .wrapper i{
    margin-left: 15rem;
  }
  .wrapper i:last-child{
    right: 21rem;
    margin-right: -6rem;
  }

  
  
}
    @media(max-width:412px){
        html{
            font-size: 50%;
        }
    
     
        
        .logo{
            font-size: 2.5rem;
        }
        .header{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        padding: 0 auto;
        background: var(--text-color);
        opacity: 65%;
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 5;
            
        }
        .home-content{
            margin-top: 8rem;
        }
        .home-content h1{
            font-size: 7rem;
            margin-left: 24rem;
            margin-bottom: 4rem;
        }
        .home-content h3{
            font-size: 2rem;
        padding-left: 10rem;
        }
        .home-img img{
            
            position: relative;
            top: -69rem;
            left: 3vw;
            border-radius: 50%;
            box-shadow: 0 0 25px var(--second-color);
            cursor: pointer;
            transition: 0.4s ease-in-out;
            max-width: 37%;
            height: auto;
            
            /*ORIGINAL*/
            
        }
        .home-content p{
            font-size: 14px;
            text-wrap: balance;
            padding-left: 5rem;
        }
        .social-icons a{
            width:6.5rem;
            height:6.5rem;
            font-size: 4.5rem;
            margin-left:2.5rem;
            justify-content: center;
        }
        .btn-group{
            justify-content: center;
        }
        .about-direction{
            display: flex;
            flex-direction: column;
        }
        .navbar{
            position: absolute;
            top: 100%;
            right: 0;
            left: 50%;
            padding: 1rem 3%;
            background: rgba(69, 2, 5, 1);
            backdrop-filter: blur(20px);
            border-bottom-left-radius: 2rem;
            border-left: 2 px solid var(--main-color);
            border-bottom: 2px solid var(--main-color);
            display: flex;
            flex-wrap: nowrap;
    
        }
        .navbar.active{
            display: flex;
            flex-wrap: nowrap;
        }
        .navbar a{
            display: block;
            font-size: 2rem;
            margin: 3rem 0;
            color: (--main-color);
        }
        
        
    
    





.services h2{
    margin-bottom: 3rem;
}
.service-container{
    grid-template-columns: repeat(1,1fr);
} 
    
/*SKILL*/
.container-container{
    display: flex;
    justify-content: stretch;
    padding: 0;
    margin-top: 20rem;

}

.skills h2{
    position: center;
}
.skills h4 h3{
    text-transform: uppercase;

}
.skills{
    background: var(--main-color);
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}
.skill-container h1{
    text-align: center;
    color: var(--text-color);
}
.skill-container h3{
    margin: 5px;
    color: var(--text-color);
}
.skill-container{
    width: 500px;
    margin: 8vh 10vh 78rem 4rem;
    color: var(--second-color);
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-size: 2rem;
    list-style-type: none;
}
.skill-container li{
    margin: 20px 0;
    padding: 10px;
    list-style-type: none;
    
}

.bar{
    background: var(--bg-color);
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, var(--text-color) 0%, var(--second-color) 100%);
}
/* SKill percentage */
.html{
    width: 30%;
    animation: html 3s;
}
.css{
    width: 35%;
    animation: css 3s;
}

.javascript{
    width: 20%;
    animation: javascript 3s;
}

.aws{
    width: 20%;
    animation: aws 3s;
}
/* percent animation*/
@keyframes html{
    0%{
        width:0%;
    }
    100%{
        width: 30%;
    }
}
@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width: 35%;
    }
}
@keyframes javascript{
    0%{
        width:0%;
    }
    100%{
        width: 20%;
    }
}
@keyframes aws{
    0%{
        width:0%;
    }
    100%{
        width: 20%;
    }
}

.digital{
    width: 30%;
    animation: digital 3s;
}
.graphic{
    width: 35%;
    animation: graphic 3s;
}

.video{
    width: 20%;
    animation: video 3s;
}

.data{
    width: 20%;
    animation:data 3s;
}
/* percent animation*/
@keyframes digital{
    0%{
        width:0%;
    }
    100%{
        width: 30%;
    }
}
@keyframes graphic{
    0%{
        width:0%;
    }
    100%{
        width: 35%;
    }
}
@keyframes video{
    0%{
        width:0%;
    }
    100%{
        width: 20%;
    }
}
@keyframes data{
    0%{
        width:0%;
    }
    100%{
        width: 20%;
    }
}
.container-container-hobby{
    display: flex;
    justify-content: stretch;
    padding: 0;
    margin-top: -3rem;
    flex-wrap: wrap;
}
.hobbies {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between; 
  }

  .hobbies img {
    width: 100%;
  }
.card-hobby img{
    border-radius: 4.5rem;
    width: 320px;
    height: 320px;
    display: flex;
    margin-left: 16rem;
    
   
}
.card-hobby h2{
    justify-content: center;
    display: flex;
    font-size: 4rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    justify-content: space-around;
    align-items: center;
}

.card-hobby img:hover{
    transform: scale(1.1) ;
    transition: 1s ease-in-out;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.portflio{
  background-color: var(--bg-color);
}

/*
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #000;
  --flower-glow: #ff6bb5;
  --flower-hightlight-1: #ffa7da;
  --inner-flower-petal: #b854ae;
  --outer-flower-petal: #d639bc;
  --flower-circle: #fff;
  --flower-light-1: #ff00a6;
  --flower-light-2: #ff23bd;
  --stem-leaf: #aa1573;
  --stem-leaf-inner: rgba(122, 20, 85, 0.4);
  --lower-stem: #7a1453;
  --petal-color-5: #970765;
  --stem-plant-outline: rgba(252, 44, 197, 0.2);
  --flower-core-1: #ffeb12;
  --flower-core-2: #ffce00;
  --grass: #1aaa15;
}


  /*
   --dark-color: #000;
  --flower-glow: #6bf0ff;
  --flower-hightlight-1: #a7ffee;
  --inner-flower-petal: #54b8aa;
  --outer-flower-petal: #39c6d6;
  --flower-circle: #fff;
  --flower-light-1: #fffb00;
  --flower-light-2: #23f0ff;
  --stem-leaf: #159faa;
  --stem-leaf-inner: rgba(20, 117, 122, 0.4);
   --lower-stem: #14757a;
  --petal-color-5: #079097;
  --stem-plant-outline: rgba(44, 238, 252, 0.2);
  --grass: #1aaa15;
  
  
  */

  /*------ Vertical tab-----*/
  .portfolio-v{
    height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(357deg, var(--dark-comp-gradient), var(--bg-color));
    
  }
  .portfolio-container-v{
    background: var(--main-color);
        padding: 3rem 7rem 3rem 7rem;
    max-width: 100rem;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 5px 10px rgba(var(--accent-color-rgb), 0.8);
   
  }
  .portfolio-container-v .main-title{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .portfolio-container-v .portfolio-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .portfolio-container-v .portfolio-content .portfolio-list{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 22%;
    align-items: self-start;
    align-self: baseline;

  }
  .portfolio-content .portfolio-list label{
    height: 7rem;
   
    font-size: 2.5rem;
    font-weight: 500;
    cursor: pointer;
   /*  background: rgba(var(--accent-color-rgb), 0.9); */
    border-radius: 2rem;
    line-height: 7rem;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
    z-index: 20;
  }
  .portfolio-content .portfolio-list label:hover{
    color: var(--accent-color2);
  }
  .portfolio-list span:hover{
    color: var(--accent-color2);
  }
  #portfolio-education:checked ~ .portfolio-list .portfolio-education,
  #portfolio-extracurricular:checked ~ .portfolio-list .portfolio-extracurricular,
  #portfolio-certification:checked ~ .portfolio-list .portfolio-certification,
  #portfolio-skills:checked ~ .portfolio-list .portfolio-skills{
    color: var(--accent-color2);
  }
  
  .portfolio-list i{
    padding-right: 1rem;
  }
    
    .portfolio-list label{
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
 
  .portfolio-list span{
    color: var(--text-color);
  }
  .portfolio-content .indicator{

    position: absolute;
    height: 6rem;
    width: 120%;
    left: 0;
    top: 9;
    background: var(--accent-color);
    border-radius: 2rem;
    transition: all 0.4s ease;
    
  }
  #portfolio-education:checked ~ .portfolio-list .indicator{
    top: 0;
  }
  #portfolio-extracurricular:checked ~ .portfolio-list .indicator{
    top: 7rem;
  }
  #portfolio-certification:checked ~ .portfolio-list .indicator{
    top: 14rem;
  }
  #portfolio-skills:checked ~ .portfolio-list .indicator{
    top: 21rem;
  }
  .portfolio-container-v input[type="radio"]{
    display: none;
  }
  /*-- educational timeline-*/
  /*
.section-content h2{
color: var(--text-color);
font-weight: 700;
margin-top: 2rem;
text-transform: uppercase;
letter-spacing: 0;
line-height: 2rem;
}
.section-content span{
  color: var(--accent-color2);
}
.process-wrapper{
  margin: auto;
  max-width: 1200px;
}
#progress-bar-container{
  position: relative;
  width: 100%;
  margin: auto;
  height: 10rem;
  margin-top: 2rem;
}
#progress-bar-container ul{
  padding: 0;
  margin: 0;
  padding-top: 1rem;
  z-index: 100;
  position: relative;
  width: 100%;
  margin-top: -5rem;
}
#progress-bar-container li:before{
  content: "";
  display: block;
  margin: auto;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: solid 2px var(--main-color);
  transition: all ease 0.3s;
}
#progress-bar-container li.active:before,
#progress-bar-container li:hover:before{
  background: var(--bg-color);
}
#progress-bar-container li{
  list-style: none;
  float: left;
  width: 20%;
  text-align: center;
  color: rgba(var(--accent-color-rgb),0.4);
  text-transform: uppercase;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.2s ;
  vertical-align: bottom;
  height: 4rem;
  position: relative;
     
}
*/
/* New styles for timeline */
.timeline-container-pv {
  position: relative;
  padding: 10px 0;
  margin: 20px 0;
}

.education-pv {
  position: relative;
  padding: 20px 0;
  border-left: 2px solid #333; /* Timeline line */
  margin-left: 30px; /* Space for timeline marker */
}

.timeline-marker-pv {
  position: absolute;
  left: -8px; /* Position of the marker */
  width: 16px;
  height: 16px;
  background: #333;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fff; /* Outer white border for marker */
  top: 20px; /* Position marker vertically */
}

.timeline-content-pv {
  background: rgba(var(--accent-color-rgb),0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.title-pv {
  margin-top: 0;
  color: #333;
}

.date-pv {
  font-weight: 600;
  color: var(--text-color);
  font-size: 2rem;
}

.degree-pv {
  font-weight: 600;
  color: var(--accent-color2);
  margin-top: 5px;
  font-size: 1.5rem;
}


.description-pv {
  margin-top: 10px;
  color: var(--text-color);
}

  
/*adjust content of edu timeline here; space, margin etc*/
.portfolio-container-v .portfolio-content .education-timeline{

}
/*adjust edu title here*/
.portfolio-content .education-timeline .content-title{

}
/*content visibility*/
 .portfolio-content .portfolio-content-v .content-p{
  display: none;

}
.portfolio-content .portfolio-content-v .portfolio-education{
  display: block;

}
#portfolio-education:checked ~ .portfolio-content-v .portfolio-education,
#portfolio-extracurricular:checked ~ .portfolio-content-v .portfolio-extracurricular,
#portfolio-certification:checked ~ .portfolio-content-v .portfolio-certification,
#portfolio-skills:checked ~ .portfolio-content-v .portfolio-skills{
  display: block;
}

#portfolio-extracurricular:checked ~ .portfolio-content-v .portfolio-education,
#portfolio-certification:checked ~ .portfolio-content-v .portfolio-education,
#portfolio-skills:checked ~ .portfolio-content-v .portfolio-education{
  display: none;
}

/*------- JS Particles --*/
/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
  
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  
  
}

/* ---- stats.js ---- */



.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}